@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}

body {
  font-family: Outfit;
  text-align: center;
  margin: 0;
  background-color: var(--Light_gray);
  font-size: 15px;
  display: grid;
  place-content: center;
  height: 100vh;
}

.image-placer img {
  width: 275px;
  border-radius: 20px;
}

.main-card {
  width: 275px;
  box-shadow: 0 0 12px -5px var(--Grayish_blue);
  padding: 15px;
  background-color: var(--White);
  border-radius: 20px;
  width: fit-content;
}

.title {
  width: 275px;
  font-size: 20px;
  color: var(--Dark_blue);
}

.description {
  width: 275px;
  color: var(--Grayish_blue);
}